body{
    background-image: url('images/num.jpg');
    background-size: cover;
}
.cintro{
    display: flex;
    flex-direction: column;
   
    height: 400px;
    width: 850px;
   
    background: rgb(255, 204, 0,0.5);
    text-align: center;
    padding: 10px;
   margin-left: 15%;
   margin-top: 8%;
    align-items: center;
    justify-content:center;

    font-weight: 900;
}

.cgame{
    font-weight: 900;
    display: none;
    flex-direction: column;
    background: rgb(255, 204, 0,0.5);
    height: 600px;
    width: 850px;
  
   
    text-align: center;
    padding: 10px;
   margin-left: 15%;
   margin-top: 2%;
    align-items: center;
    justify-content:center;
}
#newGameButton{
    display: none;
}
#nextLevelButton{
    display: none;
}
.text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: red;
    text-align: center;
    align-items: center;
    font-size: 40px;
    text-decoration: double;
   
}
.img{
    /* display: none; */
    margin-left: 1%;
}
.lev{
    color:black;
    font-size: 30px;
    font-family:cursive;
    font-weight: 600;
}
.button{
    color:white;
    font-size: 20px;
    font-family:cursive;
    font-weight: 600;
   
    background-color: green;
    padding: 10px;
    border-radius: 25%;

}
button:hover{
    background-color: brown;
    color: white;
}

  #guessedAns{
width: 300px;
height: 40px;
border-radius: 25px;
font-size:x-large;
text-align: center;
font-weight: 900;
  }
 